<!DOCTYPE html>
<html class="[--scroll-mt:9.875rem] lg:[--scroll-mt:6.3125rem]">
<head>
  <%- include ("../partials/head.ejs") %>
</head>
<body class="bg-zinc-800 text-zinc-300 antialiased flex content-center min-h-screen">

  <div class="min-w-[320px] max-w-[400px] m-auto px-3">
    
    <div class="text-2xl text-zinc-500 flex gap-1 mb-10 items-center justify-center select-none">
      <img src="assets/favicon.png" alt="easyditor logo" class="w-8 h-8 mix-blend-luminosity" />
      <span class="flex-grow-0">Easyditor</span>
    </div>

    <%- include ("../partials/form.ejs") %>

  </div>
  
</body>
</html>
